<form method="get" action="/monsters/show.svg">
  <label for="username">Enter your Last.fm username:</label>
  <input type="text" name="username" id="username" value="" />
  <input type="submit">
</form>