<!DOCTYPE html>
<html>
<head>
  <title>Monsters</title>
  <%= stylesheet_link_tag "monsters" %>
  <%#= javascript_include_tag :defaults, "jquery.svg.js" %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>


</body>
</html>
